.text {
	padding-top: 13px;
}

.listContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding-top: 35px;
}

.list {
	width: 800px;
	height: 227px;
	background: #f7f7f7 0% 0% no-repeat padding-box;
	border: 1px solid #cccccc;
	opacity: 1;
}

.buttonsContainer {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.buttonsLeft {
	gap: 15px;
	display: flex;
}
